
@import './../../../assets/sass/var'
@import './../../../assets/sass/mixins'

.footer
  color: $clr-white
  text-align: center
  background: $clr-footer-dark

  &__top
    padding: 3rem 2rem

    &__title
      font-weight: $fw-bold
      font-size: $fs-footer-header
      margin-bottom: 1rem

    &__map
      margin: 0 auto
      height: 9rem
      width: 35rem
      background: $clr-primary

  &__bottom
    padding: 1rem 0
    font-size: $fs-footer-bottom
    letter-spacing: 1px
    font-weight: $fw-bold
    background: $clr-footer-light

    @include for-size(tablet-portrait-up)
      font-size: $fs-footer-bottom-big
