
@import '../../../assets/sass/var'
@import '../../../assets/sass/mixins'

.about
  background: $clr-primary
  display: flex
  align-items: center

  &__card-wrapper
    padding: 3rem 1.5rem 5rem 1.5rem
    display: block

    @include for-size(tablet-portrait-up)
      padding: 3rem 0rem

  &__card
    position: relative
    height: 26rem
    display: flex
    align-items: center
    justify-content: center

    @include for-size(tablet-portrait-up)
      height: 28rem

    &__description
      background: $clr-accent
      padding: 1rem
      color: $clr-primary
      position: absolute
      z-index: 4
      width: 100%
      bottom: 0

      @include for-size(tablet-portrait-up)
        bottom: -2rem

      @include for-size(tablet-landscape-up)
        height: 70%
        right: 4rem
        padding: 1.5rem
        width: 33%
        bottom: inherit
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px

      @include for-size(desktop-up)
        height: 85%

    &__name
      font-size: 1.8rem

      @include for-size(tablet-portrait-up)
        font-size: 2.4rem

    &__title
      font-size: .75rem

      @include for-size(tablet-portrait-up)
        font-size: .9rem

    &__social
      color: $clr-accent
      margin-top: 1.2rem

      & a
        color: $clr-accent

        & fa-icon
          background: $clr-primary
          padding: .4rem .7rem
          margin-right: .35rem
          border-radius: .35rem
          font-size: 1.3rem
          transition: all 250ms ease-in-out

        &:hover
          & fa-icon
            background: transparentize($clr-primary,.1 )

    &__image
      width: 100%
      position: absolute
      height: 70%

      @include for-size(tablet-portrait-up)
        height: 100%

      @include for-size(tablet-landscape-up)
        width: 60%
        left: 4rem

      & img
        width: 100%
        height: 100%
        object-fit: cover
