<section class="about">
  <div class="inner">
    <div class="about__card-wrapper">
      <div class="about__card">
        <div class="about__card__description">
          <div class="about__card__name bold">Holger Menne</div>
          <div class="about__card__title">Inhaber</div>
          <div class="about__card__social">
            <a href="mailto:info@menntec.de"
              ><fa-icon [icon]="faEnvelope"></fa-icon
            ></a>
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="https://www.xing.com/profile/Holger_Menne/cv"
              ><fa-icon [icon]="faXing"></fa-icon
            ></a>
          </div>
        </div>
        <div class="about__card__image">
          <img src="../../../assets/img/menntec-01.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
