<section class="about">
  <div class="inner">
    <div class="about__card-wrapper">
      <div class="about__card" *ngFor="let contact of aboutData">
        <div class="about__card__description">
          <div class="about__card__name bold">
            {{ contact.firstName }} {{ contact.lastName }}
          </div>
          <div class="about__card__title">{{ contact.title }}</div>
          <div class="about__card__social">
            <a href="mailto:{{ contact.email }}"
              ><fa-icon [icon]="faEnvelope"></fa-icon
            ></a>
            <a target="_blank" rel="noopener noreferrer" [href]="contact.xing"
              ><fa-icon [icon]="faXing"></fa-icon
            ></a>
          </div>
        </div>
        <div class="about__card__image">
          <img [src]="contact.image.url" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
