<section id="contact-form" class="contact dark_bg txt-lght center">
  <div class="contact__container inner bold">
    <h2 class="contact__title">Kontaktieren Sie uns...</h2>
    <div class="contact__description">
      <p class="contact__text">
        Sie suchen einen Partner für Ihr nächstes Projekt? Hinterlassen Sie mir
        eine Nachricht und nehme gerne Kontakt zu Ihnen auf.
      </p>
    </div>

    <div class="contact__form">
      <form
        (ngSubmit)="onSubmit(contForm)"
        #form="ngForm"
        #contForm="ngForm"
        novalidate
      >
        <div class="inputField">
          <input
            type="text"
            name="firstName"
            class="contact__form__input"
            placeholder="Vorname eingeben"
            [(ngModel)]="contactData.firstName"
            #firstNameInput="ngModel"
            required
          />
          <div
            class="is-error"
            *ngIf="firstNameInput.invalid && firstNameInput.touched"
          >
            Bitte geben Sie Ihren Vornamen ein
          </div>
        </div>
        <div class="inputField">
          <input
            type="text"
            name="lastName"
            class="contact__form__input"
            placeholder="Nachname eingeben"
            [(ngModel)]="contactData.lastName"
            #lastNameInput="ngModel"
            required
          />
          <div
            class="is-error"
            *ngIf="lastNameInput.invalid && lastNameInput.touched"
          >
            Bitte geben Sie Ihren Nachnamen ein
          </div>
        </div>
        <div class="inputField">
          <input
            type="email"
            name="eMail"
            class="contact__form__input"
            placeholder="eMail-Adresse eingeben"
            [(ngModel)]="contactData.eMail"
            #eMailInput="ngModel"
            email
            required
          />
          <div
            class="is-error"
            *ngIf="eMailInput.invalid && eMailInput.touched"
          >
            Bitte geben Sie eine gültige eMail-Adresse ein
          </div>
        </div>
        <div class="inputField">
          <input
            type="tel"
            name="tel"
            class="contact__form__input"
            placeholder="Telefonnummer eingeben"
            [(ngModel)]="contactData.tel"
            #telInput="ngModel"
            number
            required
          />
          <div class="is-error" *ngIf="telInput.invalid && telInput.touched">
            Bitte geben Sie eine gültige Telefonnumer ein
          </div>
        </div>
        <div class="inputField">
          <textarea
            name="message"
            placeholder="Ihre Nachricht"
            class="contact__form__input text"
            [(ngModel)]="contactData.message"
            #messageInput="ngModel"
            required
          ></textarea>
          <div
            class="is-error"
            *ngIf="messageInput.invalid && messageInput.touched"
          >
            Bitte geben Sie eine Nachricht ein
          </div>
        </div>
        <div>
          <button
            type="submit"
            class="btn btn-primary btn-cf bold txt-gray"
            [disabled]="contForm.invalid"
          >
            Absenden
          </button>
        </div>
      </form>
    </div>
    <div class="contact__sent" *ngIf="submitted">
      Danke für Ihre Nachricht, ich komme so schnell wie möglich auf Sie zu.
    </div>
  </div>
</section>
