@import url('https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css')

@import './../../assets/sass/var'
@import './../../assets/sass/mixins'
@import './../../assets/sass/buttons'

.acc-header
  border-bottom: 1px solid rgb(202, 202, 202)
  min-height: 30px
  cursor: pointer
  display: flex
  flex-direction: row
  align-items: center
  padding: 10px

.headerTitle
  overflow-wrap: break-word
  overflow: auto
  width: 100%
  font-weight: 600

.acc-body
  min-height: 30px
  padding: 1rem 1.5rem
  display: flex
  align-items: center
  border-bottom: 1px solid #dcdcdc
  font-size: $fs-mobile

.arrow
  font-size: 18px
