@import url('https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css')

@import './../../assets/sass/var'
@import './../../assets/sass/mixins'
@import './../../assets/sass/buttons'

.acc-header
  border-radius: 4px
  background: $clr-secondary
  min-height: 1.5rem
  cursor: pointer
  display: flex
  flex-direction: row
  align-items: center
  padding: .5rem 1rem
  margin-top: .25rem

  &--showBody
    border-bottom-left-radius: 0px
    border-bottom-right-radius: 0px

.headerTitle
  overflow-wrap: break-word
  overflow: auto
  width: 100%
  font-weight: 600

.acc-body
  background: $clr-secondary
  min-height: 1.5rem
  padding: 0.75rem 1.5rem
  display: flex
  align-items: center
  font-size: .65rem
  line-height: 1.05rem
  border-bottom-left-radius: 4px
  border-bottom-right-radius: 4px

.arrow
  font-size: 1rem
