
@import './../../../assets/sass/var'
@import './../../../assets/sass/mixins'

.hero
  min-height: 100vh

  &__header
    hyphens: auto

    @include for-size(tablet-portrait-up)
      hyphens: inherit
