
@import './../../../assets/sass/var'
@import './../../../assets/sass/mixins'

.hero
  min-height: 100vh

  &__header
    width: 95%
    margin: 0 auto
    max-width: 78rem
    position: relative

    &::before,
    &::after
      content: ''
      display: table
