
@import './../../../assets/sass/var'
@import './../../../assets/sass/mixins'

//TODO: Check use instead of import!!

.cta
  background: $clr-tertiary
  color: $clr-footer-light
  min-height: 70vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  padding: 1rem 2.5rem

  & fa-icon
    font-size: 2.6rem
    color: $clr-txt-gray
    cursor: pointer

  &__title
    display: block
    text-align: center
    font-size: 2rem
    margin: 2rem 0

    @include for-size(tablet-portrait-up)
      font-size: 2.5rem

    @include for-size(tablet-landscape-up)
      font-size: 3.125rem
