<header class="header"><app-navigation></app-navigation></header>

<main>
  <router-outlet></router-outlet>
</main>

<app-footer></app-footer>

<div class="card">
  <div>Accordion Demo</div>
  <app-accordion>
    <app-accordion-item title="Title 1"
      >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, ipsam
      voluptas. Perspiciatis error iure quisquam sed quaerat accusamus cumque
      asperiores.</app-accordion-item
    >
    <app-accordion-item title="Title 2">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga ab dolorum
      molestiae modi iusto, magnam repellat, laudantium doloremque nobis debitis
      nemo ratione amet! Perspiciatis, nobis placeat. Facere nemo itaque
      praesentium ad ducimus. Distinctio, earum.
    </app-accordion-item>
  </app-accordion>
</div>
