
@import './../../../assets/sass/var'
@import './../../../assets/sass/mixins'

.product
  padding: 0
  display: block

@include for-size(tablet-portrait-up)
  .product
    background: $clr-secondary
    padding: 3rem 0
