<div
  class="product__card"
  *ngFor="let product of allProducts; let oddEven = odd"
>
  <a href="">
    <div class="product__card__inner">
      <div class="product__card__inner__banner-box">
        <div
          class="product__card__inner__banner-box__banner"
          *ngIf="
            product.newService ||
            product.exclusiveService ||
            product.newAndExclusiveService
          "
          [ngClass]="{
            'product__card__inner__banner-box__banner--odd': oddEven,
            'product__card__inner__banner-box__banner--even': !oddEven
          }"
        >
          <p *ngIf="product.newAndExclusiveService">Neu & Exklusiv</p>
          <p *ngIf="product.newService && !product.exclusiveService">Neu</p>
          <p *ngIf="!product.newService && product.exclusiveService">
            Exklusiv
          </p>
        </div>
      </div>
      <div
        class="product__card__content"
        [ngClass]="{
          'product__card__content--odd': oddEven,
          'product__card__content--even': !oddEven
        }"
      >
        <div class="card-title bold">{{ product.name }}</div>
        <div class="card-description light">
          {{ product.description }}
        </div>
      </div>
      <div class="product__card__image">
        <img [src]="product.imageURL" alt="" />
      </div>
    </div>
  </a>
</div>
