<div class="product__card">
  <a href="">
    <div class="product__card__inner">
      <div class="product__card__content">
        <div class="card-title bold">Heizung</div>
        <div class="card-description light">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit,
          aliquid!
        </div>
      </div>
      <div class="product__card__image">
        <img
          src="https://images.pexels.com/photos/4819052/pexels-photo-4819052.jpeg?cs=srgb&dl=pexels-erik-mclean-4819052.jpg&fm=jpg"
          alt=""
        />
      </div>
    </div>
  </a>
</div>
