
@import './../../../assets/sass/var'
@import './../../../assets/sass/mixins'

.product__card
  height: 29rem
  margin-bottom: 0
  background: $clr-primary
  overflow: hidden
  display: block

  @include for-size(tablet-portrait-up)
    height: 17rem
    margin-bottom: 3.75rem

  @include for-size(tablet-landscape-up)
    height: 30rem

  &__inner
    height: 100%
    margin: 0
    position: relative
    display: flex
    flex-wrap: wrap
    flex-direction: row

    @include for-size(tablet-portrait-up)

  &__content
    padding: 3.25rem 1.625rem
    height: 50%
    display: flex
    flex-wrap: wrap
    flex-direction: row
    flex: 0 0 100%
    max-width: 100%
    position: relative

    @include for-size(tablet-portrait-up)
      padding: 2rem 1.25rem
      flex: 0 0 33.333%
      max-width: 33.333%
      height: 100%
      flex-direction: column

      &--odd
        order: 1

      &--even
        order: 0

  &__image
    padding: 0
    height: 50%
    flex: 0 0 100%
    max-width: 100%
    position: relative

    & img
      position: absolute
      top: 0
      right: 0
      left: 0
      bottom: 0
      height: 100%
      width: 100%
      object-fit: cover

    @include for-size(tablet-portrait-up)
      padding-right: 0
      flex: 0 0 66.666%
      max-width: 66.666%
      padding-left: .625rem
      height: 100%

.card-title
  font-size: 1.125rem
  line-height: normal

  @include for-size(tablet-portrait-up)
    font-size: .85rem

.card-description
  font-size: 1.125rem
  margin: 0
