<div class="product__card" *ngFor="let product of products; let oddEven = odd">
  <a href="">
    <div class="product__card__inner">
      <div
        class="product__card__content"
        [ngClass]="{
          'product__card__content--odd': oddEven,
          'product__card__content--even': !oddEven
        }"
      >
        <div class="card-title bold">{{ product.title }}</div>
        <div class="card-description light">
          {{ product.description }}
        </div>
      </div>
      <div class="product__card__image">
        <img [src]="product.image" alt="" />
      </div>
    </div>
  </a>
</div>
