<section class="jobAd" *ngIf="j >= 0">
  <div class="inner">
    <div class="jobAd__slider">
      <div class="jobAd__slider__main">
        <div class="jobAd__slider__box">
          <ng-container *ngIf="(isDesktop$ | async) || (isTablet$ | async)">
            <div class="jobAd__slider__banner jobAd__slider__banner--up">
              {{ bannerText1 }}
            </div>
            <div class="jobAd__slider__banner jobAd__slider__banner--down">
              {{ bannerText2 }}
            </div>
          </ng-container>
          <div class="jobAd__slider__slide" id="slide" #slide>
            <div class="jobAd__slider__cards" *ngFor="let jobAd of jobAds">
              <h2 class="jobAd__title">
                {{ jobAd.jobTitle | hyphenate }}
              </h2>
              <h4 class="jobAd__subTitle">
                {{ jobAd.jobTitleSubtext | hyphenate }}
              </h4>
              <div class="jobAd__content">
                <ng-container *ngIf="isMobile$ | async">
                  <app-accordion>
                    <app-accordion-item title="Aufgabengebiet">
                      <ul>
                        <li *ngFor="let item of jobAd.jobSpecs.jobTasks">
                          {{ item.text }}
                        </li>
                      </ul>
                    </app-accordion-item>
                    <app-accordion-item title="Was Sie mitbringen sollten">
                      <ul>
                        <li
                          *ngFor="let item of jobAd.jobSpecs.jobPrerequisites"
                        >
                          {{ item.text }}
                        </li>
                      </ul>
                    </app-accordion-item>
                    <app-accordion-item title="Was Sie von uns erwarten dürfen">
                      <ul>
                        <li *ngFor="let item of jobAd.jobSpecs.jobBenefits">
                          {{ item.text }}
                        </li>
                      </ul>
                    </app-accordion-item>
                  </app-accordion>
                </ng-container>
                <ng-container
                  *ngIf="(isDesktop$ | async) || (isTablet$ | async)"
                  ><div class="jobAd__content__details">
                    <h3 class="jobAd__content__title">Aufgabengebiet</h3>
                    <div class="jobAd__content__text">
                      <ul>
                        <li *ngFor="let item of jobAd.jobSpecs.jobTasks">
                          {{ item.text | hyphenate }}
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="jobAd__content__details">
                    <h3 class="jobAd__content__title">
                      Was Sie mitbringen sollten
                    </h3>
                    <div class="jobAd__content__text">
                      <ul>
                        <li
                          *ngFor="let item of jobAd.jobSpecs.jobPrerequisites"
                        >
                          {{ item.text | hyphenate }}
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="jobAd__content__details">
                    <h3 class="jobAd__content__title">
                      Was Sie von uns erwarten dürfen
                    </h3>
                    <div class="jobAd__content__text">
                      <ul>
                        <li *ngFor="let item of jobAd.jobSpecs.jobBenefits">
                          {{ item.text | hyphenate }}
                        </li>
                      </ul>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div
            class="jobAd__cta"
            [ngClass]="ctaStatus ? 'jobAd__cta-actv' : ''"
          >
            <div class="jobAd__cta__button" (click)="collapseCTA()">
              Wir haben Ihr Interesse geweckt?
            </div>
            <div class="jobAd__cta__content">
              <p class="jobAd__cta__text">
                {{ ctaText }}
              </p>
              <p class="jobAd__cta__text">
                Ansprechpartner:<br />
                {{ jobContactFirstName }} {{ jobContactLastName }} |
                {{ jobContactEMail }} | Tel.: +49 177 3136260
                <br />
                Postanschrift: Am Grünen Weg 23, 52385 Nideggen
              </p>
            </div>
          </div>
        </div>
        <div class="jobAd__btns">
          <button
            type="button"
            class="btn btn-primary btn-jobAd btn-jobAd--prev bold"
            (click)="prev()"
            *ngIf="i !== 0"
          >
            Vorherige Anzeige
          </button>
          <button
            type="button"
            class="btn btn-primary btn-jobAd btn-jobAd--next bold"
            (click)="next()"
            *ngIf="j > 0"
          >
            Nächste Anzeige
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
