<section class="jobAd">
  <!-- <div class="inner">




  </div> -->

  <div class="inner">
    <div class="jobAd-slider">
      <div class="jobAd-slider__main">
        <div class="jobAd-slider__box">
          <div class="jobAd__banner jobAd__banner--up">Bewirb dich jetzt!</div>
          <div class="jobAd__banner jobAd__banner--down">
            <a href="mailto:info@menntec.de">info@menntec.de</a>
          </div>
          <div class="jobAd-slider__slide" id="slide" #slide>
            <div class="jobAd-slider__cards" *ngFor="let jobAd of jobAdArray">
              <h2 class="jobAd__title">{{ jobAd.title }}</h2>
              <h4 class="jobAd__subTitle">
                {{ jobAd.subTitle }}
              </h4>
              <div class="jobAd__content">
                <div class="jobAd__content__details">
                  <h3 class="jobAd__content__title">Aufgabengebiet</h3>
                  <div class="jobAd__content__text">
                    <ul>
                      <li *ngFor="let foaElement of jobAd['fieldOfActivity']">
                        {{ foaElement }}
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="jobAd__content__details">
                  <h3 class="jobAd__content__title">
                    Was Sie mitbringen sollten
                  </h3>
                  <div class="jobAd__content__text">
                    <ul>
                      <li *ngFor="let wtbElement of jobAd['whatToBring']">
                        {{ wtbElement }}
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="jobAd__content__details">
                  <h3 class="jobAd__content__title">
                    Was Sie von uns erwarten dürfen
                  </h3>
                  <div class="jobAd__content__text">
                    <ul>
                      <li *ngFor="let wteElement of jobAd['whatToExpect']">
                        {{ wteElement }}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="jobAd__cta">
            <p>
              Wir haben Ihr Interesse geweckt? Dann freuen wir uns auf Ihre
              aussagekräftige Bewerbung per Post oder per eMail.
            </p>
            <p>
              Ansprechpartner: Holger Menne | info@menntec.de | Tel.: +49 177
              3136260
              <br />
              Postanschrift: Am Grünen Weg 23, 52385 Nideggen
            </p>
          </div>
        </div>
        <div class="jobAd__btns">
          <button
            type="button"
            class="btn btn-primary btn-jobAd btn-jobAd--prev bold txt-gray"
            (click)="prev()"
            *ngIf="i !== 0"
          >
            Vorherige Anzeige
          </button>
          <button
            type="button"
            class="btn btn-primary btn-jobAd btn-jobAd--next bold txt-gray"
            (click)="next()"
            *ngIf="j !== 0"
          >
            Nächste Anzeige
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
