<section class="jobAd" *ngIf="j >= 0">
  <div class="inner">
    <div class="jobAd-slider">
      <div class="jobAd-slider__main">
        <div class="jobAd-slider__box">
          <div class="jobAd__banner jobAd__banner--up">
            {{ bannerText1 }}
          </div>
          <div class="jobAd__banner jobAd__banner--down">
            {{ bannerText2 }}
          </div>
          <div class="jobAd-slider__slide" id="slide" #slide>
            <div class="jobAd-slider__cards" *ngFor="let jobAd of jobAds">
              <h2 class="jobAd__title">{{ jobAd.jobTitle }}</h2>
              <h4 class="jobAd__subTitle">
                {{ jobAd.jobTitleSubtext }}
              </h4>
              <div class="jobAd__content">
                <div class="jobAd__content__details">
                  <h3 class="jobAd__content__title">Aufgabengebiet</h3>
                  <div class="jobAd__content__text">
                    <ul>
                      <li *ngFor="let item of jobAd.jobSpecs.jobTasks">
                        {{ item.text }}
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="jobAd__content__details">
                  <h3 class="jobAd__content__title">
                    Was Sie mitbringen sollten
                  </h3>
                  <div class="jobAd__content__text">
                    <ul>
                      <li *ngFor="let item of jobAd.jobSpecs.jobPrerequisites">
                        {{ item.text }}
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="jobAd__content__details">
                  <h3 class="jobAd__content__title">
                    Was Sie von uns erwarten dürfen
                  </h3>
                  <div class="jobAd__content__text">
                    <ul>
                      <li *ngFor="let item of jobAd.jobSpecs.jobBenefits">
                        {{ item.text }}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="jobAd__cta">
            <p>
              Wir haben Ihr Interesse geweckt? Dann freuen wir uns auf Ihre
              aussagekräftige Bewerbung per Post oder per eMail.
            </p>
            <p>
              Ansprechpartner: {{ jobContactFirstName }}
              {{ jobContactLastName }} | {{ jobContactEMail }} | Tel.: +49 177
              3136260
              <br />
              Postanschrift: Am Grünen Weg 23, 52385 Nideggen
            </p>
          </div>
        </div>
        <div class="jobAd__btns">
          <button
            type="button"
            class="btn btn-primary btn-jobAd btn-jobAd--prev bold"
            (click)="prev()"
            *ngIf="i !== 0"
          >
            Vorherige Anzeige
          </button>
          <button
            type="button"
            class="btn btn-primary btn-jobAd btn-jobAd--next bold"
            (click)="next()"
            *ngIf="j > 0"
          >
            Nächste Anzeige
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
