
@import './../../../assets/sass/var'
@import './../../../assets/sass/mixins'
@import './../../../assets/sass/buttons'

.jobAd
  background: linear-gradient($clr-accent, $clr-secondary)
  overflow: hidden
  display: block
  min-height: 100vh
  padding-top: 1rem
  font-size: .6rem

  @include for-size(tablet-portrait-up)
    background: linear-gradient(pink, $clr-secondary)
    font-size: .825rem
    padding-top: 2rem
    position: relative

  @include for-size(tablet-landscape-up)
    background: linear-gradient($clr-accent, $clr-secondary)

  &__subTitle
    padding-bottom: .75rem

  &__content

    &__details
      padding: 1rem 0rem 0.5rem 0rem

    &__text
      padding: 0.5rem 1rem

  &__cta
    background: $clr-accent
    color: $clr-primary
    font-weight: $fw-semibold
    font-size: .825rem
    z-index: 2000
    position: absolute
    bottom: 0
    padding: 1rem 1.5rem

    & p
      margin: .5rem 0

  &__banner
    background: $clr-accent
    padding: 1rem 5rem 1rem 2rem
    color: $clr-primary
    font-weight: $fw-semibold
    position: absolute
    width: 50rem
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px
    transform: rotate(-5deg)
    transform: skewY(-5deg)

    & a
      color: $clr-primary

    &--up
      top: 5rem
      z-index: 99
      right: -33rem

    &--down
      top: 8rem
      z-index: 90
      right: -33.5rem
      background: darken($clr-accent, 10%)

  &__btns
    padding: 1rem
    margin: 0
    position: absolute
    left: 50%
    transform: translateX(-50%)
    display: grid
    width: 45rem
    grid-template-columns: 1fr 1fr

.jobAd-slider
  width: 80%

  &__main
    position: absolute
    width: 80%
    left: 50%
    transform: translateX(-50%)

  &__box
    position: relative
    height: 75vh
    width: 100%
    border-radius: 4px
    background: #fff
    overflow: hidden
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px

    &::after
      content: ''
      position: absolute
      top: -50px
      left: -50px
      height: 100px
      width: 100px
      border-radius: 50%
      z-index: 1

  &__cards
    padding: 20px
    height: 75vh

  &__ad
    width: 100px
    height: 100px
    display: inline-block

  &__button

#slide
  position: absolute
  top: 0
  left: 0
  width: 100%
  transition: .4s
