
@import url('https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css')

@import './../../../assets/sass/var'
@import './../../../assets/sass/mixins'

.social-media
  &__title
    font-size: 1.125rem
    margin-bottom: 30px

  &__list
    list-style: none
    padding: 0

  &__item
    display: inline-block
    font-size: 2.8rem
    margin: 0 .625rem

    & a
      color: $clr-primary

      &:hover
        color: $clr-accent
