
@import './var'
@import './mixins'

.btn
  display: block
  transition: 200ms ease
  text-align: center
  text-transform: lowercase
  margin: auto
  cursor: pointer
  font-size: 1.75rem

  &-cf
    width: 30%
    min-width: 18.75rem
    border: 0
    padding: 0
    line-height: 3em

    &:hover
      background: $clr-primary
