
@import './var'
@import './mixins'
@import './buttons'
@import './typography'

.logo
  max-width: 14rem
  width: 100%
  display: block

  img
    width: 100%

.breadcrump
  text-transform: uppercase
  font-weight: $fw-bold
  margin-right: 1rem
  font-size: .875rem

.center_center
  align-items: center
  justify-content: center

.flex
  display: flex

.col-text
  color: $clr-txt-accent

.not-col-text
  color: $clr-txt

.content-container
  min-height: 100vh
