
@import './var'
@import './mixins'
@import './buttons'
@import './typography'

.logo
  max-width: 14rem
  width: 100%
  display: block

  img
    width: 100%

.breadcrump
  text-transform: uppercase
  font-weight: $fw-bold
  margin-right: 1rem
  font-size: .875rem

/** Elements **/

.accent_bg
  background: $clr-accent

.dark_bg
  background: $clr-footer-light

.center_center
  align-items: center
  justify-content: center

.flex
  display: flex

.content-container
  min-height: 100vh

.inner
  width: 95%
  margin: 0 auto
  max-width: 78rem
  position: relative

  &::after
    clear: both

  &::before,
  &::after
    content: ''
    display: table

/** Text **/

.txt-lght
  color: $clr-txt-light

.txt-gray
  color: $clr-txt-gray

.ultralight
  font-weight: $fw-ultralight

.light
  font-weight: $fw-light

.regular
  font-weight: $fw-normal

.semibold
  font-weight: $fw-semibold

.bold
  font-weight: $fw-bold

.col-text
  color: $clr-accent

.not-col-text
  color: $clr-txt

.center
  text-align: center
