/** Colors **/

$clr-primary: #fff
$clr-secondary: #f2f2f2
$clr-tertiary: #D0D1D2
$clr-accent: #E95814

$clr-white: #fff
$clr-black: #000

$clr-txt: #2c2c2c
$clr-txt-light: #fff
$clr-txt-gray: #707070

$clr-link-lght: $clr-txt-light
$clr-link-dark: $clr-txt
$clr-link-light-hvr: $clr-secondary
$clr-link-dark-hvr: $clr-secondary

$clr-footer-light: #414041
$clr-footer-dark: #383738

$clr-nav: rgba(30,30,30, .75)

$clr-btn-disabled: #666866

$clr-menu: #414041

$clr-about-card: rgba(30,30,30, .85)

$clr-test: #fff

/** Fonts **/

$ff-body: 'Poppins', sans-serif

$fw-normal: 400
$fw-ultralight: 200
$fw-light: 300
$fw-semibold-light: 500
$fw-semibold: 600
$fw-bold: 700
$fw-extrabold: 800
$fw-black: 900

$fs-desktop: 1rem
$fs-menu: .875rem
$fs-ham-menu: 2rem
$fs-h1: 3.25rem
$fs-h2: 3rem
$fs-h3: 2.25rem
$fs-social: 2rem
$fs-social-menu: 3.6rem

$fs-mobile: 0.85rem
$fs-mobile-h1: 1.75rem
$fs-mobile-h2: 1.65rem
$fs-mobile-h3: 1.25rem

$fs-footer-header: .9rem
$fs-footer-bottom: .5rem

/** Line Height **/

$lh-desktop: 1.6rem
$lh-mobile: 1.6rem
$lh-h1: 4.5rem
